
body{
.button {
box-shadow: 0 5px 0 #252128;
border-radius: 15px;
}
.button:active {
box-shadow: none;
transform: translateY(5px);
}
font-family: 'Poppins', sans-serif;
@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular);
}
color: azure;
height:100vh;
background-image: linear-gradient(to bottom right, purple, rgb(69, 69, 255));
}
