
body{
.fun {
box-shadow: 0 5px 0 #252128;
border-radius: 15px;
}
.fun:active {
box-shadow: none;
transform: translateY(5px);
}
font-family: 'Poppins', sans-serif;
@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular);
}
background-size: 300%;
background-position: left;
transition: background-position 1s;
color: azure;
height:100vh;
background-image: linear-gradient(to bottom right, purple, rgb(69, 69, 255));
}
.fun {
padding: 0.25em, 0.75em;
font-size: 1rem;

}